@import "tailwindcss";
@import "@nuxt/ui";

/* @source inline("{group-hover:,,}{bg,text,ring,border,to,from}-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-{50,100,200,300,400,500,600,700,800,900,950}{,,/5,/10,/15,/20,/25,/30,/35,/40,/45,/50,/55,/60,/65,/70,/75,/80,/85,/90,/95}"); */

@theme static {
  --font-sans: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --ui-container: 80rem;
}

@layer utilities {
  .scrollbar {
    @apply [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-track]:bg-neutral-200 dark:[&::-webkit-scrollbar-track]:bg-neutral-100/5 [&::-webkit-scrollbar-thumb]:bg-neutral-400 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-400/20 [&::-webkit-scrollbar-thumb]:rounded-full hover:[&::-webkit-scrollbar-thumb]:bg-neutral-500
  }
}